body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
  background-repeat: no-repeat;
  color: #333;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px;
}


