body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #c5cbf3d2, #9aadb896);
  background-repeat: no-repeat;
  color: #333;
  text-align: center;
}

.card p {
  margin-right: 15px;
  font-size: 1.3rem;
}

.card p span {
  margin-right: 10px;
  font-size: 1.3rem;
}
